<div class="p-4">
    <!-- Create Button -->
    <button type="button" class="btn btn-primary fixed top-20 right-5 z-50" (click)="toggleView()">
        <i class="fas fa-plus"></i> Create User
    </button>
    <!-- FORM -->
    @if(showForm){
    <div class="flex justify-center items-center mt-10">
        <div class="max-w-md w-full bg-base-100 p-8 rounded-lg shadow-sm border border-base-300 relative">
            <!-- Close -->
            <button type="button" class="btn btn-sm btn-circle absolute right-4 top-4" (click)="closeForm()">
                ✕
            </button>
            <h2 class="text-3xl font-bold text-center mb-6">
                Create User
            </h2>
            <form [formGroup]="signupForm" (ngSubmit)="handleSignupAdminPage()" class="space-y-5">
                <!-- Username -->
                <div class="form-control">
                    <label class="label">
                        <span class="label-text">Username</span>
                    </label>

                    <input type="text" formControlName="fullName" placeholder="Enter username"
                        class="input input-bordered w-full rounded-full"
                        [class.input-error]="fullNameControl?.invalid && fullNameControl?.touched"
                        [class.input-success]="fullNameControl?.valid && fullNameControl?.touched" />

                    @if (fullNameControl?.invalid && fullNameControl?.touched) {
                    <div class="text-error text-sm mt-1">
                        Username must be 3-20 characters
                    </div>
                    }
                </div>
                <!-- Email -->
                <div class="form-control">
                    <label class="label">
                        <span class="label-text">Email</span>
                    </label>
                    <input type="email" formControlName="email" placeholder="you@example.com"
                        class="input input-bordered w-full rounded-full"
                        [class.input-error]="emailControl?.invalid && emailControl?.touched"
                        [class.input-success]="emailControl?.valid && emailControl?.touched" />

                    @if(emailControl?.invalid && emailControl?.touched){
                    <div class="text-error text-sm mt-1">
                        Invalid Email
                    </div>
                    }
                </div>
                <!-- Password -->
                <div class="form-control">
                    <label class="label">
                        <span class="label-text font-medium">Password</span>
                    </label>
                    <div class="relative">
                        <input [type]="passwordVisible ? 'text' : 'password'" formControlName="password"
                            placeholder="Enter password" class="input input-bordered w-full rounded-full pr-12" />

                        <button type="button" (click)="togglePassword()"
                            class="absolute right-3 top-1/2 -translate-y-1/2">

                            @if(passwordVisible){
                            <i class="fa-solid fa-eye"></i>
                            } @else {
                            <i class="fa-solid fa-eye-slash"></i>
                            }

                        </button>
                    </div>
                    @if(passwordControl?.invalid && passwordControl?.touched){
                    <div class="text-error text-sm mt-1">
                        Invalid Password
                    </div>
                    }
                </div>
                <!-- Strength -->
                <div class="flex gap-1 mt-2 h-1">
                    @for (bar of strengthBars; track $index; let i = $index) {
                    <div class="flex-1 rounded" [class]="getBarColor(i+1)"></div>
                    }
                </div>
                <div class="text-xs mt-1">
                    {{ strengthLabel }}
                </div>
                <!-- Remember -->
                <label class="flex items-center gap-2">
                    <input type="checkbox" formControlName="rememberMe" class="checkbox checkbox-primary" />
                    Remember me
                </label>
                <!-- Submit -->
                <button type="submit" class="btn btn-primary w-full" [disabled]="signupForm.invalid">
                    Sign up
                </button>
            </form>
        </div>
    </div>
    }
    <!-- TABLE -->
    @else {
    <div class="hidden sm:block mt-5">
        <table class="table w-full">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Role</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>1</th>
                    <td>Cy Ganderton</td>
                    <td>cy@example.com</td>
                    <td>Admin</td>
                </tr>
                <tr>
                    <th>2</th>
                    <td>Hart Hagerty</td>
                    <td>hart@example.com</td>
                    <td>User</td>
                </tr>
                <tr>
                    <th>3</th>
                    <td>Brice Swyre</td>
                    <td>brice@example.com</td>
                    <td>Manager</td>
                </tr>
            </tbody>
        </table>
    </div>
    }
</div>