<header class="flex flex-col sm:flex-row sm:items-center sm:justify-between gap-4 mb-8">
	<!-- LEFT -->
	<div>
		<p class="text-[10px] uppercase font-bold tracking-widest text-slate-400">
			Academic Assessment Core
		</p>
		<h1 class="text-2xl sm:text-3xl font-black text-slate-900 leading-tight">
			Score & Grade Management
		</h1>
	</div>
	<!-- RIGHT -->
	<div class="flex flex-wrap gap-2 sm:gap-3">
		<!-- FILTER -->
		<button class="flex items-center gap-2 px-3 py-2 text-xs sm:text-sm 
                   border border-slate-200 bg-white rounded-lg 
                   font-medium hover:bg-slate-50 transition w-full sm:w-auto justify-center">
			<i class="fa-solid fa-filter"></i>
			Filter
		</button>
		<!-- Dowload -->
		<button class="flex items-center gap-2 px-3 py-2 text-xs sm:text-sm 
                   border border-slate-200 bg-white rounded-lg 
                   font-medium hover:bg-slate-50 transition w-full sm:w-auto justify-center">
			<i class="fa-solid fa-filter"></i>
			Download Score
		</button>
		<!-- VALIDATION -->
		<button class="flex items-center gap-2 px-3 py-2 text-xs sm:text-sm 
                   bg-slate-900 text-white rounded-lg 
                   font-medium hover:bg-slate-800 transition w-full sm:w-auto justify-center">
			<svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="currentColor" viewBox="0 0 20 20">
				<path fill-rule="evenodd"
					d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
					clip-rule="evenodd" />
			</svg>
			Batch Validate
		</button>
	</div>
</header>
<div class="grid grid-cols-1 md:grid-cols-4 gap-6 mb-10">
	<div class="card bg-white shadow-sm border-l-4 border-emerald-400 p-6">
		<p class="text-xs font-bold text-emerald-400 uppercase">Mean Score Pass Total</p>
		<h2 class="text-3xl font-bold mt-1">{{ meanScore?.toFixed(2) }}</h2>
		<p class="text-green-500 text-xs font-semibold mt-2">↗ {{meanScorePassPercent?.toFixed(2)}}% from last sem</p>
	</div>
	<div class="card bg-white shadow-sm border-l-4 border-blue-400 p-6">
		<p class="text-xs font-bold text-slate-400 uppercase">Mean Score Fail Total</p>
		<h2 class="text-3xl font-bold mt-1">{{ meanScoreFail?.toFixed(2) }}</h2>
		<p class="text-slate-500 text-xs font-semibold mt-2">●<i class="fa-solid fa-arrow-down"></i>{{
			meanScoreFailPercent?.toFixed(2)}}%</p>
	</div>
	<div class="card bg-white shadow-sm border-l-4 border-green-400 p-6">
		<p class="text-xs font-bold text-green-400 uppercase">Mean Score Pass</p>
		<h2 class="text-3xl font-bold mt-1">{{ meanScorePass?.toFixed(2)}}</h2>
		<p class="text-green-400 text-xs mt-2">● ↗ {{ passPercent?.toFixed(2)}}%</p>
	</div>
	<div class="card bg-white shadow-sm border-l-4 border-sky-400 p-6">
		<p class="text-xs font-bold text-slate-400 uppercase">Mean Score Fail</p>
		<h2 class="text-3xl font-bold mt-1">{{ meanScoreFail?.toFixed(2)}}</h2>
		<p class="text-blue-600 text-xs font-semibold mt-2">●<i
				class="fa-solid fa-arrow-down"></i>{{failPercent?.toFixed(2)}}%</p>
	</div>
</div>

<div class="card bg-white shadow-sm mb-10 overflow-hidden">
	<div class="flex justify-between items-center p-6 border-b border-slate-50">
		<h3 class="font-bold text-slate-800">Semester Records</h3>
		<div class="flex gap-4 text-[10px] font-bold text-slate-400 uppercase">
			<span class="hover:cursor-pointer bg-green-400 rounded-lg p-1 hover:bg-green-600 text-white"
				(click)="navigateRouter('/upload-score')"><i class="fa-solid fa-cloud-arrow-up me-1"></i>Go
				to upload Score Page</span>
			<span>All Subjects</span>
		</div>
	</div>
	<div class="overflow-x-auto">
		<table class="table w-full">
			<thead class="bg-slate-50/50 text-[10px] text-slate-400 uppercase">
				<tr>
					<th>Student Name</th>
					<th>Gender</th>
					<th>Subject</th>
					<th>Class Name</th>
					<th>Semester</th>
					<th>Score</th>
					<th>Grade</th>
					<th>Status</th>
					<th>Created Date</th>
					<th>updated Date</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				@for (student of studentsList; track $index) {
				<tr class="hover:bg-slate-50 transition-colors">
					<td>
						<div class="flex items-center gap-3">
							<div class="avatar placeholder">
								<div class="bg-slate-100 text-slate-500 rounded-full w-8 h-8">
									<span class="text-xs font-bold">{{ student.enFirstName
										+''+student.enLastName}}
									</span>
								</div>
							</div>
							<div>
								<div class="font-bold text-sm">{{ student.khFirstName + ' ' + student.khLastName }}
								</div>
								<div class="text-[10px] text-slate-400">ID: {{ student.studentCode }}</div>
							</div>
						</div>
					</td>
					<td class="text-sm font-medium text-slate-600">{{ student.gender ==='F' ?'Female':student.gender
						==='M' ? 'Male':student.gender==='Other' ? 'Other': 'Unknown' }}</td>
					<td class="text-sm font-medium text-slate-600">{{ student.subjectName }}</td>
					<td class="text-sm font-medium text-slate-600">{{ student.className }}</td>
					<td class="text-sm text-slate-400">{{ student.semesterName }}</td>
					<td class="text-sm font-black" [ngClass]="student.Score === 0 ? 'text-blue-500' : 'text-slate-700'">
						{{ student.Score }}
					</td>
					<td>
						<span
							class="badge badge-sm rounded bg-green-100 text-green-700 border-none font-bold px-3 py-3">
							{{
							student.Score < 50 ? 'F' : student.Score<=55? 'E' : student.Score <=60 ? 'E+' :
								student.Score <=65 ? 'D' :student.Score <=70?'D+':student.Score <=75?'C':student.Score
								<=80 ? 'C+' :student.Score <=85 ? 'B' : student.Score <=90 ? 'B+' : student.Score <=100
								? 'A' : 'A+' }} </span>
					</td>
					<td>
						<div class="badge border-none py-3 px-4 font-bold tracking-tight text-white text-[10px] gap-1"
							[ngClass]="{'bg-green-500': student.status ==true , 'bg-red-500': student.status ==false}">
							{{ student.status ==true ? 'Active' : 'Inactive'}}
						</div>
					</td>
					<td class="text-sm font-medium text-slate-600">{{ student.creationAt | date: 'dd-MM-yyyy' }}</td>
					<td class="text-sm font-medium text-slate-600">{{ student.updatedAt | date: 'dd-MM-yyyy' }}</td>
					<td>
						<button
							class="btn btn-ghost btn-xs text-white bg-yellow-500 cursor-pointer hover:text-white me-2"><i
								class="fa-solid fa-pen"></i></button>
						<button class="btn btn-ghost btn-xs text-white bg-red-500 cursor-pointer hover:text-white"><i
								class="fa-solid fa-trash"></i></button>
					</td>
				</tr>
				}
			</tbody>
		</table>
	</div>
</div>