<!-- Tab Buttons -->
<div class="flex flex-wrap justify-end gap-1 border-b border-gray-100 pb-3">
    @for (tab of tabs; track tab) {
    <button class="btn btn-sm px-4 transition-all" [class.btn-primary]="activeTab() === tab"
        [class.btn-ghost]="activeTab() !== tab" [class.text-gray-600]="activeTab() !== tab" (click)="setActiveTab(tab)">
        {{ tab }}
    </button>
    }
</div>

@switch (activeTab()) {
@case ('ROLE') {
<div class="btn btn-primary">ROLE</div>
}
@default {
<button class="btn btn-primary" (click)="showModalPermission()">
    <i class="fa-solid fa-circle-plus"></i> Permission
</button>
@if(ModalPermission()){
<form [formGroup]="permissionForm" class="space-y-4">
    <div>
        <label class="label">
            <span class="label-text">Name</span>
        </label>
        <input type="text" formControlName="name" class="input input-bordered w-full rounded-full"
            placeholder="Enter permission name" />
    </div>
    <div>
        <label class="label">
            <span class="label-text">Description</span>
        </label>
        <input type="text" formControlName="description" class="input input-bordered w-full rounded-full"
            placeholder="Enter description" />
    </div>
    <div>
        <label class="label">
            <span class="label-text">Module</span>
        </label>
        <select id="module" formControlName="module" class="select select-bordered w-full rounded-full">
            <option disabled value="">Select module</option>
            <option value="ADMIN_MANAGEMENT">Admin Management</option>
            <option value="USER_MANAGEMENT">User Management</option>
        </select>
    </div>
    <div class="pt-2">
        <button type="submit" (click)="createPermission()" aria-label="Submit" aria-disabled="permissionForm.invalid"
            class="btn btn-primary w-full">
            <i class="fa-solid fa-cloud-arrow-up"></i> Submit
        </button>
    </div>
</form>
}@else {
<div class="hidden sm:block mt-5">
    <table class="table w-full">
        <thead>
            <tr>
                <th>#លេខរៀង</th>
                <th>Name</th>
                <th>Description</th>
                <th class="first-letter:uppercase">Module</th>
                <th>status</th>
                <th>action</th>
            </tr>
        </thead>
        <tbody class="divide-y divide-gray-200">
            @for (permission of permissionList; track $index) {
            <tr class="hover:bg-gray-50 odd:bg-white even:bg-gray-50">
                <td>{{ $index + 1 }}</td>
                <td class="px-4 py-3 first-letter:uppercase">{{ permission?.name || 'NA'}}</td>
                <td class="px-4 py-3 first-letter:uppercase">{{ permission?.description || 'NA'}}</td>
                <td class="px-4 py-3 first-letter:uppercase">{{ permission?.module || 'NA'}}</td>
                <td class="px-4 py-3">
                    <span class="px-2 py-1 rounded text-white"
                        [ngClass]="permission?.status === 'INACTIVE' ? 'bg-red-500' : 'bg-green-500'">
                        {{ permission?.status === 'INACTIVE' ? 'Inactive' : 'Active' }}
                    </span>
                </td>
                <td class="px-4 py-3">
                    <div class="flex justify-start gap-2">
                        <!-- View button: show for everyone except ROLE_ADMIN -->
                        <button type="button" *ngIf="currentUserRole !== 'ROLE_ADMIN'" aria-label="View"
                            class="bg-blue-500 hover:bg-blue-600 text-white px-2 py-1 rounded text-xs">
                            <i class="fa-solid fa-eye"></i>
                        </button>

                        <!-- Edit button: show only for ROLE_ADMIN -->
                        <button type="button" *ngIf="currentUserRole === 'ROLE_STAFF'" aria-label="Edit"
                            class="bg-yellow-500 hover:bg-yellow-600 text-white px-2 py-1 rounded text-xs">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </button>
                        <button type="button" *ngIf="currentUserRole === 'ROLE_STAFF'" aria-label="Delete"
                            class="bg-red-500 hover:bg-red-600 text-white px-2 py-1 rounded text-xs">
                            <i class="fa-solid fa-trash"></i>
                        </button>
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
}
}

}