// 1. @use rules FIRST
@use "tailwindcss";

// 2. @import after
@import '@fontsource/jetbrains-mono/300.css';

// 3. @plugin after
@plugin "daisyui";

// 4. Your styles last
* {
    font-family: 'JetBrains Mono', monospace;
}

/* styles.css */
.skeleton {
    background-color: #e2e8f0;
    /* Tailwind gray-200 */
    border-radius: 0.5rem;
    animation: pulse 1.5s infinite;
}

@keyframes pulse {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.4;
    }
}