<div class="min-h-screen flex items-center justify-center bg-gray-100 p-4">

    <div class="w-full max-w-md bg-white rounded-lg shadow-md p-6 space-y-6">

        <!-- Title -->
        <h2 class="text-2xl font-bold text-center">Forgot Password</h2>
        <p class="text-center text-gray-800 text-sm">
            Enter your email to search your account
        </p>

        <!-- Step 1: Enter Email -->
        <div class="space-y-4">
            <label class="block">
                <span class="text-gray-700">Email</span>
                <input type="email" placeholder="you@example.com"
                    class="input input-bordered w-full mt-1 rounded-full" />
            </label>

            <button (click)="sendOTP()" class="btn btn-primary w-full rounded-full">
                Send OTP
            </button>
        </div>

        <!-- Step 2: Enter OTP -->
        <div *ngIf="step === 2" class="space-y-4">
            <p class="text-gray-500 text-sm">We sent a 6-digit OTP to {{ email }}</p>

            <label class="block">
                <span class="text-gray-700">OTP</span>
                <input type="text" [(ngModel)]="otp" placeholder="Enter OTP" class="input input-bordered w-full mt-1" />
            </label>

            <button (click)="verifyOTP()" class="btn btn-primary w-full">
                Verify OTP
            </button>
        </div>

        <!-- Step 3: Change Password -->
        <div *ngIf="step === 3" class="space-y-4">

            <label class="block">
                <span class="text-gray-700">New Password</span>
                <input type="password" [(ngModel)]="newPassword" placeholder="New password"
                    class="input input-bordered w-full mt-1" />
            </label>

            <label class="block">
                <span class="text-gray-700">Confirm Password</span>
                <input type="password" [(ngModel)]="confirmPassword" placeholder="Confirm password"
                    class="input input-bordered w-full mt-1" />
            </label>

            <button (click)="changePassword()" class="btn btn-success w-full">
                Change Password
            </button>
        </div>

        <!-- Back link -->
        <div class="text-end mt-2">
            <a (click)="goToSignin('signin')" class="text-blue-500 hover:underline text-sm p-2 hover:cursor-pointer">
                Back to Signin
            </a>
        </div>

    </div>

</div>