<form [formGroup]="formCreateCourse" class="p-6 space-y-6">
    <!-- IDENTIFIERS -->
    <div>
        <h3 class="text-xs font-semibold text-slate-400 uppercase mb-3">Identifiers</h3>

        <div class="grid grid-cols-1 md:grid-cols-4 gap-4 mb-4">
            <!-- <input formControlName="subjectId" placeholder="Subject ID" class="input rounded-full" /> -->
            <select formControlName="subjectId" placeholder="Semester ID" class="input rounded-full">
                <option value="" disabled>Select Subjects</option>
                @for (subject of getAllSubject; track $index) {
                <option [value]="subject.id">{{ subject.name}}</option>
                }
            </select>
            <select formControlName="semesterId" placeholder="Semester ID" class="input rounded-full">
                <option value="" disabled>Select Semester</option>
                @for (semester of getAllSemesters; track $index) {
                <option [value]="semester.id">{{ semester.name}}</option>
                }
            </select>
            <select formControlName="instructorId" placeholder="Instructor ID" class="input rounded-full">
                <option value="" disabled>Select Instructor</option>
                @for (user of getAllUser; track $index) {
                @if(user.fullName ==='admin'){

                <option class="hidden" [value]="user.id">{{ user.fullName}}</option>
                }@else {
                <option [value]="user.id">{{ user.fullName}}</option>
                }
                }
            </select>
            <input formControlName="name" placeholder="Course Name" class="input rounded-full" />
        </div>
    </div>
    <!-- BASIC -->
    <h3 class="text-xs font-semibold text-slate-400 uppercase mb-3">Basic Info</h3>
    <div class="grid grid-cols-1 md:grid-cols-4 gap-4 mb-4">
        <input formControlName="schedule" placeholder="Schedule text" class="input rounded-full" />
        <input formControlName="description" placeholder="Course Description" class="input rounded-full">
        <input type="date" formControlName="startAt" class="input rounded-full" />
        <input type="date" formControlName="endAt" class="input rounded-full" />
    </div>
    <!-- SCHEDULE -->
    <div>
        <div class="flex justify-between items-center mb-4">
            <div class="flex items-center gap-2">
                <h3 class="text-xs font-semibold text-slate-400 uppercase">Schedules</h3>
                <span class="text-xs px-2 py-1 border rounded-full text-slate-500">
                    {{ count }} {{ count === 1 ? 'entry' : 'entries' }}
                </span>
            </div>

            <button type="button" (click)="addSchedule()"
                class="bg-blue-100 text-blue-600 px-3 py-1 rounded-md text-sm hover:bg-blue-200">
                + Add
            </button>
        </div>

        <div formArrayName="schedules" class="space-y-3">
            <!-- Empty -->
            <div *ngIf="count === 0" class="text-center text-slate-400 text-sm py-4">
                No schedules added yet.
            </div>

            <!-- List -->
            <div *ngFor="let sch of schedules.controls; let i = index" [formGroupName]="i"
                class="grid grid-cols-1 md:grid-cols-5 gap-3 bg-slate-50 border rounded-xl p-4">

                <select formControlName="dayOfWeek" class="input rounded-full">
                    <option *ngFor="let d of days" [value]="d">{{ d }}</option>
                </select>
                <input type="time" formControlName="startTime" class="input rounded-full" />
                <input type="time" formControlName="endTime" class="input rounded-full" />
                <input type="number" formControlName="room" placeholder="Room" class="input rounded-full" />

                <button type="button" (click)="removeSchedule(i)"
                    class="bg-red-100 text-red-600 rounded-md text-sm hover:bg-red-200">
                    Remove
                </button>
            </div>
        </div>
    </div>
    <!-- FOOTER -->
    <div class="pt-4 border-t border-slate-100 flex justify-end">
        <button class="bg-yellow-600 text-white px-6 py-2 rounded-lg hover:bg-yellow-700 me-3">
            Cancle
        </button>
        <button (click)="handleCreateCourse()" class="bg-blue-600 text-white px-6 py-2 rounded-lg hover:bg-blue-700">
            <i class="fa-solid fa-cloud-arrow-up"></i> Create Course
        </button>
    </div>
</form>